#cardPostEdit{
  margin-top: 10vh;
  margin-left: 7vw;
  height: var(--card-height);
}
.buttonLogoPostEdit{
  margin: auto;
  display: block;
  padding-top: 6vh;
}
@media (min-width: 1040px) and (max-width: 1999px){

  #cardPostEdit{
     margin: auto auto;
     margin-top: 10rem;
  }
  
}