.profileImg{
    width: 210vw;
    height: 120vh;
    align-items: center;
    position: fixed;
    left: -140px;
    top: -25px;
    z-index: 1;
    overflow: hidden;
}
.logoOverlap img{
    position: relative;
    width: 114px;
    height: 76px;
    left: 0px;
    top: 0px;
    z-index: 2;
    backdrop-filter: blur(10px);
    /* background-color: rgba(228, 145, 224, 0.281); */
    /* background-color: #C0FDFF, #3c66e3c4 43%, #ECBCFD; */
}
.logoOverlap img:hover{
    transform: scale(1.1);
}
.userInfo{
    position: relative;
    /* height: 50vh; */
    margin-top: 75vh;
    border-radius: 20px 20px 0 0;
    background-color: #35c5be8e;
    z-index: 2;
}
button img{
    height: 4vh;
}
button{
    background-color: transparent;
    border: none;
}
.postsOutterUser {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.nameUser{
      padding: 1px 0 0 30px;
}
.addUser{
    padding: 30px 20px 0 0;
}
.profileButtons{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px ;
}
.headerUser{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 80em) and (max-width: 150em) {
   
.profileContainer{
    width: 30vw;
    /* background-color: turquoise; */
}
.profileImg{
    /* width: 30vw;
    height: 90vh;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1; */

    /* width: 29.8vw;
    height: 90vh;
    left: 46.2rem;
    top: 0px;
    right: 10rem;
    z-index: 1; */
}
}