.profileImg{
    width: 210vw;
    height: 120vh;
    align-items: center;
    position: fixed;
    left: -140px;
    top: -25px;
    z-index: 1;
    overflow: hidden;
}
.logoOverlap img{
    position: relative;
    width: 114px;
    height: 76px;
    left: 0px;
    top: 0px;
    z-index: 2;
    backdrop-filter: blur(10px);
}
.logoOverlap img:hover{
    transform: scale(1.1);
}
.userInfo{
    position: relative;
    margin-top: 75vh;
    border-radius: 20px 20px 0 0;
    background-color: #67f6fb9b;
    z-index: 2;
}
button img{
    height: 4vh;
}
button{
    background-color: transparent;
    border: none;
}
.postsOutterUser {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.nameUser{
      padding: 1px 0 0 30px;
}
.addUser{
    padding: 30px 20px 0 0;
}
.profileButtons{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px ;
}
.headerUser{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 2000px) and (max-width: 2330px) {
   
.profileContainer{
    /* width: 30vw; */
}
.profileImg{
    width: 29.8vw;
    height: 100vh;
    left: 49.5rem;
    top: 0px;
    right: 10rem;
}
}
@media (min-width: 1040px) and (max-width: 1999px) {
   

.profileImg{
    left: -46.2rem;
}
}
@media (min-width: 800px) and (max-width: 1039px) {
   

.profileImg{
    left: -36rem;
    top: 0px;
    right: 10rem;
}
}