.profileImg{
    width: 210vw;
    height: 120vh;
    align-items: center;
    position: absolute;
    left: -140px;
    top: -25px;
    z-index: 1;

}
.logoOverlap img{
    position: relative;
    width: 114px;
    height: 76px;
    left: 0px;
    top: 0px;
    z-index: 2;
    backdrop-filter: blur(10px);
    /* background-color: rgba(228, 145, 224, 0.281); */
    /* background-color: #C0FDFF, #3c66e3c4 43%, #ECBCFD; */
}
.userInfo{
    position: relative;
    height: 50vh;
    margin-top: 75vh;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff;
    z-index: 2;
}
button img{
    height: 4vh;
}
button{
    background-color: transparent;
    border: none;
}
.postsOutterUser {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.nameUser{
      padding: 1px 0 0 30px;
}
.addUser{
    padding: 30px 20px 0 0;
}
.profileButtons{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px ;
}
.headerUser{
    display: flex;
    justify-content: space-between;
}