.profilePicBorder{
  /* position: absolute; */
  width: 82px;
  height: 82px;
  border-radius: 90px;
  background-image: conic-gradient(from 250deg at 50% 50%, rgba(38, 79, 225, 0.466) 50deg, #a33fe26b 199.81deg, rgba(38, 79, 225, 0.527) 390deg);
  margin: auto;  
}

.profilePic{
  width: 75px;
  height: 75px;
  align-items: center;
  /* backdrop-filter: blur(5px); */
  background-color: rgba(255, 255, 255, 0.507);
  background: cover;
  border-radius: 90px;
  margin: auto;
position: relative;
}